
h1{
    font-size:3.5em;
    text-align: center;
    margin:0px;
    padding-top:16px;
    color:whitesmoke;
}

#scrollArrow img{
    height:70px;
    width:70px;
    margin-top:50px;
}

#textDiv > h2{
    font-size: 3em;
    font-family: pacifico;
    margin: 0px;
    

    
}
#textDiv h3 {
    font-size: 1.1em;
	text-align: center;
    font-family: Andale Mono, monospace;

    
}
#punchline {
    color:orangered;
     font-family: 'Josefin Slab', serif;
}

li:hover{
    color: #D45756;
    cursor: pointer;

    
}
nav > div.hero > h2{
    font-size: 0.7em;
    text-align: center;
    font-family: Andale Mono, monospace;
    color: #D45756;
    font-weight: 300;
    padding: 0px;
    margin: 3px;
}





#topRated{
   
    background-color:#F0F0F0;
	
}



#topRated {
	display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}


#topRated img{
    
    width: 200px;
    height: 200px;
    object-fit: cover;

}

#display {
	display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}


#display img{
    
    width: 200px;
    height: 200px;
    object-fit: cover;

}


/***************playlists****************/

#displayPlaylists {
	display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}


#displayPlaylists img{
    
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;

}

/**************artist*************************/

#displayArtists {
	display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}


#artists img{
    
    width: 200px;
    height: 200px;
    object-fit: cover;

}



/*********************ALBUMS************************/

body{
    background-color: #F6F6F6;
    
}
#deleteform{
    font-family: monospace;
}

.albumhero{
    display: flex;
    justify-content: center;
    height: 600px;
    align-items: center;
}



.formdiv {
	text-align: center;
    margin: auto;
}
.latestAlbum h3 {
    font-family: futura;
    margin-top: 0px;
    margin-bottom: 2px;

	
}

.latestAlbum h4 {
    font-family: monospace;
    margin: 2px;
    padding: 0px;
    opacity: 0.3;
}
.latestAlbum h4 span {
    color: green;
}

.latestAlbum {
    padding-top: 50px;

}
#addNewWrapper{
    display: grid;
    grid-template-columns: auto auto auto;
}


.contentalbums {
     background-color: #F6F6F6;
}
.contentalbums h2 {
	text-align: center;
}
#albumList p {
    margin: 15px;

}
#albumList p span{
    margin-top: 2px;
    font-family: Andale mono, monospace;
   font-style: italic;
    opacity: 0.7;
    
}
#albumList p span:hover{
    color: red;
    
}

#albumList {
     display: grid;
     grid-template-columns: 25% 25% 25% 25%;
    background-color: #F6F6F6;
    
}
#albumList img {
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
     box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    min-width: 200px;
    overflow: hidden;
    height: 200px;
    margin: 10px;
    background-color: #F1452A; 

}

#topRated{
    display: grid;
    grid-template-columns: auto auto auto;
}


.latestAlbum{
    padding-top: 80px;
    margin: 10px;
    text-align: center;
    background-color: white;
    color: #222222;
    //display: flex;
    
}

/***************Playlist?*******************/
.eachPlaylist{
justify-content: center;
    align-items:center;
    height:100vh;
    background-color:#F1452A;
    border: 2px solid blue;
    padding-right:100px;

}
.eachPlaylistCover{
width:500px;
height:500px;
border:black 1px solid;
margin-right:100px;
    
}
.eachPlaylistCover img{
    max-width:100%;
    max-height:100%;
}
li{
font-size:1.5em;
}


#addForm {
    max-width: 300px;
    margin: 50px auto;
    background: #fff;
    border-radius: 2px;
    padding: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#submitArtist:hover,
#submitAlbum:hover,
#submitPlaylist:hover,
#deleteButtonArtist:hover,
#deleteButtonAlbum:hover,
#deleteButtonPlaylist:hover{

    opacity: 0.6;
    color: white;
}
br{
    display:none;
}

